$white: #fff 
$dark_grey: #48555B 
$light_grey:  #E6E6E6
$light_blue: #00A4E5 
$dark_blue: #141A20
$black: #171819
@font-face
  font-family: 'bebas neue'
  src: url(../font/BebasNeue-Regular.ttf)
%font_bebas
  font-family: 'bebas neue', sans-serif
%font_open
  font-family: 'Open Sans', sans-serif
