@import color&font
@import media
body
  @extend %font_open
  background: $white
  font-size: 11px
  color: $dark_grey
*
  box-sizing: border-box
a
  text-decoration: none
  color: inherit
%text_transform
  text-transform: uppercase
.container
  width: 940px
  margin: 0 auto
  +size-l
    width: 100%
    padding: 0 20px
.header
  background:
    image: url(../upload/bg-header.jpg)
    size: cover
  color: $white
.header_container
  padding: 41px 0 71px
  display: flex
  flex-direction: column
  align-items: center
  +size-m
    padding: 40px 0
  +size-xs
    padding: 30px 20px
.header_title
  @extend %font_bebas
  @extend %text_transform
  font-size: 60px
  letter-spacing: 5.70937px
  text-align: center
  margin: 317px 0 21px
  +size-l
    font-size: 40px
    margin: 200px 0 10px
  +size-xs
    margin: 100px 0 10px
    letter-spacing: 1px
.header_text
  font:
    weight: 600
    size: 16px
  text-align: center
.header_scroll
  font-weight: 600
  letter-spacing: 3.7px
  margin-top: 221px
  +size-m
    margin-top: 180px
  +size-xs
    margin-top: 100px
  &:hover
    color: lighten($dark_grey, 50%)
.menu
  background: $white
  padding: 24px 0
  color: $dark_grey
  border-bottom: 1px solid $light_grey
  width: 100%
  +size-l
    padding: 24px 20px
.fixed
  position: fixed
  top: 0
  margin-top: 0
  z-index: 500
.menu_container
  display: flex
  justify-content: space-between
.menu_links
  +size-s
    display: none
.menu_links_link
  @extend %text_transform
  font:
    weight: 600
    size: 12px
  letter-spacing: 1.09091px
  margin-right: 40px
  &:hover
    text-shadow: 0 0 1px $black
  &:last-child
    margin-right: 0
    +size-s
      margin-bottom: 0
  +size-s
    margin: 0 0 20px 0
.active
  display: flex
  flex-direction: column
%burger_line
  width: 100%
  height: 4px
  border-radius: 10px
  display: inline-block
  background: $dark_grey
.burger-menu
  width: 30px
  cursor: pointer
  display: none
  span
    @extend %burger_line
    &::before
      content: ""
      @extend %burger_line
      margin-top: 11px
    &::after
      content: ""
      @extend %burger_line
  +size-s
    display: block
.promo
  padding: 58px 0 118px
  +size-m
    padding: 20px 0 30px
%line
  &::after
    content: ""
    width: 50px
    height: 2px
    background: $light_blue
    display: inline-block
    margin-top: 10px
.promo_title
  @extend %text_transform
  font:
    weight: 700
    size: 18px
  letter-spacing: 2.30625px
  text-align: center
  margin-bottom: 57px
  display: flex
  flex-direction: column
  align-items: center
  @extend %line
  +size-m
    margin-bottom: 15px
.promo_wrappers
  display: grid
  grid:
    template-columns: repeat(2, 1fr)
    template-rows: 1fr
    gap: 77px
  +size-m
    grid:
      template-columns: 1fr
      gap: 15px
.promo_wrappers_wrapper
  &:last-child
    display: flex
    justify-content: center
.promo_wrappers_wrapper_title
  font:
    weight: 700
    size: 20px
  line-height: 27px
  letter-spacing: 0.1875px
  +size-m
    text-align: center
    line-height: 24px
  +size-xs
    font-size: 16px
    line-height: 20px
.promo_wrappers_wrapper_text
  font-size: 13px
  line-height: 23px
  letter-spacing: 0.1875px
  margin-top: 30px
  +size-m
    margin-top: 10px
  +size-xs
    font-size: 13px
    line-height: 18px
.promo_wrappers_wrapper_item
  width: 140px
  height: 224px
  margin-right: 20px
  padding: 18px
  +size-xs
    width: 130px
  &:nth-child(2)
    +size-xs
      margin-right: 0
  &:last-child
    margin-right: 0
    +size-xs
      display: none
@each $content in content-1, content-2, content-3
  .#{$content}
    background: url(../upload/#{$content}.jpg)
.promo_wrappers_wrapper_item_title
  font:
    weight: 800
    size: 24px
  line-height: 29px
  color: $white
  +size-xs
    font-size: 18px
.content
  padding-bottom: 115px
  +size-m
    padding-bottom: 30px
.content_wrappers
  display: flex
  justify-content: space-between
  +size-m
    flex-wrap: wrap
    justify-content: center
  &:first-child
    margin-bottom: 78px
    +size-m
      margin-bottom: 30px
.content_wrappers_title
  font:
    weight: 700
    size: 18px
  letter-spacing: 2.30625px
  display: flex
  flex-direction: column
  @extend %line
.content_wrappers_text
  max-width: 405px
  line-height: 19px
  letter-spacing: 0.2px
  +size-s
    margin-top: 10px
%button
  &:hover
    background: darken($light_blue, 10%)
.content_wrappers_button
  width: 150px
  height: 40px
  font:
    weight: 700
    size: 13px
  letter-spacing: 0.5px
  padding: 11px 29px
  color: $white
  background: $light_blue
  @extend %button
  +size-m
    margin-top: 20px
.content_wrappers_item
  max-width: 295px
  border: 1px solid $light_grey
  padding: 138px 22px 39px
  margin-right: 28px
  +size-xs
    padding: 85px 20px 20px
    margin-right: 0
  &:last-child
    margin-right: 0
  +size-m
    margin-bottom: 15px
@each $ic in project, structure, factory
  .#{$ic}
    background: url(../img/#{$ic}.png) 10% 10% no-repeat
    +size-xs
      background-size: 20%
.content_wrappers_item_title
  font:
    weight: 700
    size: 16px
  line-height: 24px
  letter-spacing: 0.426667px
  +size-xs
    font-size: 14px
    line-height: 18px
.content_wrappers_item_text
  font-size: 13px
  line-height: 23px
  letter-spacing: 0.1875px
  margin-top: 13px
  +size-xs
    font-size: 12px
    line-height: 16px
.offer
  padding: 120px 0 230px
  background: url(../upload/bg-offer.jpg) no-repeat
  background-size: cover
  +size-s
    padding: 40px 0 200px
  +size-xs
    padding: 0 0 100px
.offer_container
  display: flex
  flex-direction: column
  align-items: center
.offer_title
  font-weight: 700
  font-size: 30px
  letter-spacing: 0.15px
  margin-bottom: 35px
  text-align: center
  +size-s
    font-size: 24px
.offer_button
  display: inline-block
  width: 158px
  height: 40px
  font:
    weight: 700
    size: 13px
  letter-spacing: 0.5px
  color: $white
  display: flex
  justify-content: center
  align-items: center
  background: $light_blue
  @extend %button
.form
  background: $black
  padding: 30px 20px
  display: flex
  justify-content: center
  align-items: center
  +size-s
    flex-wrap: wrap
.form_title
  font:
    weight: 700
    size: 22px
  letter-spacing: 0.846154px
  color: $white
.form_wrapper
  display: flex
  margin-left: 70px
  +size-s
    margin-top: 20px
  +size-xs
    margin-left: 0
.form_wrapper_input
  width: 250px
  height: 40px
  border: none
  &::placeholder
    font-size: 14px
    letter-spacing: 0.07px
    color: $dark_grey
    padding-left: 16px
    +size-xs
      padding-left: 10px
  +size-xs
    width: 150px
.form_wrapper_send
  width: 150px
  height: 40px
  font:
    weight: 700
    size: 13px
  letter-spacing: 0.5px
  color: $white
  text-transform: uppercase
  background: $light_blue
  border: none
  +size-s
    width: 100px
.navigation
  background: $dark_blue
  padding: 40px 0
  color: $white
  text-transform: uppercase
.navigation_container
  display: flex
  justify-content: space-between
  +size-s
    flex-wrap: wrap
%nav_wrapper
  padding-top: 30px
.navigation_wrapper
  display: flex
  flex-direction: column
  &:nth-child(3)
    @extend %nav_wrapper    
  &:nth-child(4)
    @extend %nav_wrapper 
  &:last-child
    flex-direction: row
    @extend %nav_wrapper
  +size-s
    margin-top: 20px
.navigation_wrapper_name
  text-transform: uppercase
  margin-bottom: 19px
.navigation_wrapper_text
  max-width: 250px
  line-height: 19px
  letter-spacing: 0.85px
  margin-top: 15px
  text-transform: capitalize
.navigation_wrapper_link
  margin-bottom: 15px
.navigation_wrapper_address
  margin-bottom: 15px
  line-height: 18px
  text-transform: capitalize
.navigation_wrapper_link_email
  text-transform: lowercase
.navigation_wrapper_social
  width: 13px
  height: 13px
  display: inline-block
  margin-right: 25px
.fb
  background: url(../img/ic-fb.png) 0 no-repeat
.tw
  background: url(../img/ic-tw.png) 50% no-repeat
.google
  background: url(../img/ic-google.png) 100% no-repeat
  margin-right: 0
footer
  display: flex
  justify-content: center
  padding: 22px 0
  background: $black
  color: $white